HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!old/main/**/target/
!old/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!old/main/**/build/
!old/test/**/build/

.vscode/

/db/
*.db
db/*

*.env